{% extends '_base.html' %}
{% load i18n account %}
{% load static %}


{% block styles %}
<link rel="stylesheet" href="{% static 'css/pages/auth.css' %}">
{% endblock styles %}

{% block content %}


<main class="auth">
  <div class="auth__card">
    <span class="auth__badge">Создать аккаунт</span>
    <h1 class="auth__title">Регистрация</h1>

    <form method="post" action="{% url 'account_signup' %}" novalidate>
      {% csrf_token %}

      {{ form.non_field_errors }}

      <label class="field">
        <span>Логин</span>
        {{ form.username.errors }}
        {{ form.username }}
      </label>

      <label class="field">
        <span>E-mail</span>
        {{ form.email.errors }}
        {{ form.email }}
      </label>

      <label class="field">
        <span>Пароль</span>
        {{ form.password1.errors }}
        {{ form.password1 }}
      </label>

      <label class="field">
        <span>Повтор пароля</span>
        {{ form.password2.errors }}
        {{ form.password2 }}
      </label>

      <label class="field">
        <span>Промокод</span>
        {{ form.promo_code.errors }}
        {{ form.promo_code }}
      </label>

      <label class="checkbox">
        <input type="checkbox" name="privacy" required>
        <span class="checkmark"></span>
        <span class="checkbox__text">
          Я соглашаюсь с <a href="{% static 'files/privacy_policy.pdf' %}" target="_blank">политикой конфиденциальности</a>
        </span>
      </label>

      <button class="btn" type="submit">Зарегистрироваться</button>
    </form>

    <p class="auth__hint">Уже с нами? <a href="{% url 'account_login' %}">Войти</a></p>
  </div>
</main>


{% endblock content %}